__pycache__/
.state

lab1_parallelization/data/*
lab1_parallelization/output/*

lab2_docker/.python-version
lab2_docker/example/*
lab2_docker/output/*
lab2_docker/bestRez_streamlit.txt

lab3_mongo_db/data/*

lab4_longest_route/data/*
lab4_longest_route/artifacts/*
lab4_longest_route/.python-version
